body
  padding-top 70px

Footer
  padding 0 15px
  p
    border-top 1px solid #ccc

.navbar-form
  .form-group, button
    margin-left 10px

.toast-top-right
  top 55px

.toast-success
  background-color #5cb85c

.toast-error
  background-color #d9534f