extends ../includes/layout.jade

block main-content
    nav(class="navbar navbar-default navbar-fixed-top")
        div(class="container-fluid")
            div(class="navbar-header")
                a(class="navbar-brand" href="/") MEAN Blog
            div(ng-include="'partials/account/navbar-login'")
    section.content
        div(ng-view)

    footer.container.text-center
        p &copy; 2015 MEAN Blog