.navbar-right(ng-controller="NavbarLoginController")
    form.navbar-form(ng-hide="identity.isAuthenticated()")
        .form-group
            input.form-control.input-sm(type="text", placeholder="Username", ng-model="username")
        .form-group
            input.form-control.input-sm(type="password", placeholder="Password", ng-model="password")
        button.btn.btn-primary.btn-sm(ng-click="signin(username, password)") Sign In