doctype html
html
    head
        title MEAN Blog
        link(rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet" href="/vendor/toastr/toastr.css")
        link(rel="stylesheet" href="/css/main.css")
    body(ng-app="app")
        include current-user
        block main-content
        include scripts