doctype html
html
    head
        title MEAN Start App
        link(rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet" href="/vendor/toaster/toaster.css")
        link(rel="stylesheet" href="/css/main.css")
    body(ng-app="app")
        block main-content
        include scripts